<header>
  <%= image_tag "moon_and_star.png", class: "pizza_logo", style: "width: 100px" %>

  <button class="box value" onclick="window.location='<%= root_path %>'">Practice</button>
  <button class="box value" onclick="window.location='<%= cards_edit_path %>'">Edit Cards</button>
  <button class="box value" onclick="window.location='<%= new_sheet_path %>'">New Deck</button>
  <button class="box value" onclick="window.location='<%= legacy_path %>'">Legacy</button>

  <%= image_tag "fallout.png", class: "pizza_logo", style: "width: 100px;" %>
</header>
